<h1>This page show the items in the shopping bag</h1>

<p>go back to user_items_controller.rb</p>
<p>copy and paste the bottom part here</p>

<h3><%= link_to "Make a Stop", {:controller => "stores" }  %></h3>	

